.login-form {
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #ffffff;
}

input[type=email], input[type=password] {
    width: 600px;
    padding: 2%;
    font-size: medium;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(12, 9, 9);
    box-sizing: border-box;
}

#kk {
    background-color: #1a16df;
    color: white;
    border: none;
    cursor: pointer;
    width: 10%;
    height: 50px;
    opacity: 0.8;
}

button:hover {
    opacity: 0.8;
}

#formBasicEmail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color :rgb(39, 37, 37)
}

#formBasicPassword {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: bold;
    color :rgb(39, 37, 37)

}