.CarCards-Wrapper {
    background: #FFFFFF;
    border: 1px solid #FF7BAC;
    box-shadow: 11px 12px 4px rgba(255, 123, 172, 0.46);
    width: max-content;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin : .5%;
}

#CarCard-Explore {
    background: #E5E5E5;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: rgb(192, 184, 172);
    font-weight:500;
    margin: 2%;
}